.profile-container {
  background-color: rgb(2, 49, 80);
  margin-top: 20px;
  height: auto;
  width: auto;
  display: flex;
  padding: 10px;
  /* cursor: pointer; */
  /* border: 2px solid #fff; */
}
.inside-container {
  height: auto;
  width: auto !important;
}
.profile {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  border-radius: 50%;
}
.p-span {
  color: #fff;
}
a {
  cursor: pointer;
}
